[submodule "KC_Mirrors"]
	path = KC_Mirrors
	url = https://github.com/kchavezdev/RPGMP_Mirrors
	branch = main
[submodule "KC_MoveRouteTF"]
	path = KC_MoveRouteTF
	url = https://github.com/kchavezdev/RPGMP_MoveRouteTransform
	branch = main
[submodule "KC_SkipEvent"]
	path = KC_SkipEvent
	url = https://github.com/kchavezdev/RPGMP_SkipEvent
	branch = main
[submodule "DotMoveSystem_Presets"]
	path = DotMoveSystem_Presets
	url = https://github.com/kchavezdev/RPGMP_DotMoveSystem_Presets
[submodule "KC_TextSounds"]
	path = KC_TextSounds
	url = https://github.com/kchavezdev/RPGMP_TextSounds
